.description {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.endDate {
  display: flex;
  gap: 1rem;
}

.nestedTodo {
  border: 1px solid black;
  padding: 1rem 1.5rem;
  border-radius: 7px;
  width: 100%;
}

.nestedTodoInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nestedTodoInfo > input {
  width: 30px;
  height: 20px;
}

.nestedTodoInfo > p {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
