.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 3rem;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

.form > input {
  width: 30vw;
}

@media screen and (max-width: 1000px) {
  .form > input {
    width: 80vw;
  }
}
